/*.container{
    max-width: 1000px;
}*/
.jumbotron{
    /*min-height: 1200px;*/
}

.header{
    max-width: 700px;
    min-height: 100px;
    padding : 30px;
    background-color: white;
    /*border-bottom: 2px solid gray;*/
}

.activity{
    margin: 45px;
    border-top: 2px solid gainsboro;
    padding-top: 50px;
}
.margins{
    margin-left: 30px;
}